<header>
  <nav>
      <div routerLinkActive="position" routerLink="/home/solicitudes">
          <a ><span>Solicitudes</span></a>
      </div>
      <div routerLinkActive="position" routerLink="/home/prestamos">
          <a><span>Prestamo</span></a>
      </div>
      <div routerLinkActive="position" routerLink="/home/resetpassword">
          <a><span>Restablecer password</span></a>
      </div>
      <div>
        <!-- <a><span>Mi Saldo : {{saldo}}</span></a> -->

      </div>
  </nav>
</header>
<router-outlet></router-outlet>
