<div class="bg">
  <div class="center-section">
    <mat-card class="card-solicitud">
      <mat-card-title class="title-card">¡Inicia Sesion!</mat-card-title>
      <br>
      <br>
      <form>
        <mat-form-field class="full" appearance="fill">
          <mat-label>Correo</mat-label>
          <input matInput >
        </mat-form-field>
        <mat-form-field class="full" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password">
        </mat-form-field>
      </form>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary">¡Ingresar!
          <mat-icon>trending_flat</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
